* {
  margin: 0;
  padding: 0;
}

/* Start of Homepage */

.pageTop {
  background-image: url("./img/background1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

.homepage-container > div {
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 10vw;
  text-align: center;
  margin-top: 22%;
  font-family: "Noto Serif", serif;
  color: white;
}

hr {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 0.1vw solid #863a58;
}
.subtitle {
  text-align: center;
  margin-top: 5%;
  color: #863a58;
  font-size: 3.5vw;
}

/* start of grid on homepage*/
/* start of login/signin buttons */
#logInButton {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  position: absolute;
  top: 5%;
  left: 78%;
}

#signUpButton {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  position: absolute;
  top: 5%;
  left: 88%;
}

h3 {
  font-size: 1.3vw;
}
/* end of login/signin buttons */

.grid {
  color: #863a58;
  width: 60vw;
  margin-left: 3%;
}

.searchImage {
  margin: 0 auto;
  width: 20%;
}

.searchTitle {
  margin: 25px auto;
  font-size: 2.5vw;
}

.searchParagraph {
  margin: 0 auto;
  font-size: 1.5vw;
  width: 60%;
}

.markerImage {
  margin: 0 auto;
  width: 20%;
}

.markerTitle {
  margin: 25px auto;
  font-size: 2.5vw;
}

.markerParagraph {
  margin: 0 auto;
  font-size: 1.5vw;
  width: 60%;
}

.checkmarkImage {
  margin: 0 auto;
  width: 20%;
}

.checkmarkTitle {
  margin: 25px auto;
  font-size: 2.5vw;
}

.checkmarkParagraph {
  margin: 0 auto;
  font-size: 1.5vw;
  width: 60%;
}

/* end of grid on homepage*/

.subtitle2 {
  padding-top: 5%;
  text-align: center;
  color: #863a58;
  font-size: 3.5vw;
}

.cardImage {
  width: 50%;
  height: 35%;
  margin-left: 26%;
}

h4 {
  font-size: 3vw;
}

h5 {
  font-size: 2.5vw;
}

h6 {
  font-size: 2vw;
}

.subtitle3 {
  padding-top: 5%;
  text-align: center;
  color: #863a58;
  font-size: 3.5vw;
}

.applebtn {
  width: 15%;
  float: right;
  padding-bottom: 20px;
}

.googlebtn {
  width: 15%;
  float: right;
  margin-right: 35%;
  padding-bottom: 20px;
}

.footer {
  margin: 10px;
}

/* end of homepage */
/* state of modal styling */

#modalImage {
  margin-top: 3%;
  margin-left: 42%;
  margin-right: 55%;
  width: 15%;
  height: 2%;
}

.modalBlurb {
  text-align: center;
  font-size: 1.5vw;
  margin-left: 3%;
}

.modalTitle {
  text-align: center;
  font-size: 4vw;
  margin-left: 3%;
}

#submit {
  margin-left: 23%;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #080e20;
  font-family: "Niramit", sans-serif;
}

/* end of modal styling */

/* start of navbar styling */

.banner {
  padding: 1.5vw;
  color: white;
}

.mainbar {
  background-color: #a5456a;
  height: 6%;
  outline: none;
  border: none;
}

#sideBar .toggle-btn span {
  display: block;
  max-width: 4%;
  height: 5px;
  background: white;
  margin: 0.75%;
  margin-left: 7%;
}

#sideBar {
  display: flex;
  flex-wrap: nowrap;
}

#sideBar .toggle-btn {
  width: 100%;
  margin-left: 87%;
  text-align: center;
  line-height: 75px;
  font-size: 0.5vw;
  position: absolute;
  padding-bottom: 10px;
  top: 1%;
}
/* end of navbar styling */

/* .search-sides {
  padding: 0 250px 0 250px;
}
*/
/*
.logoutBtn {
  padding: 20px;
}

.myRecipeBtn {
  margin-right: 10%;
}

.myFavBtn {
  margin-left: 50%;
  margin-right: 10%;
}

.myFormBtn {
  margin-left: 10%;
}

.centerContainer {
  text-align: center;
} */

/*
.main-page-search {
  margin-top: 50px;
}

#root
  > div.main-page-search
  > div.ui.horizontally.padded.three.column.grid.Grid1 {
  padding-left: 30px !important;
  padding-top: 20px !important;
}

.detail-image {
  height: 200px;
  width: 250px;
}

#root > main > div > form > button > span.MuiButton-label-152 > a {
  color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
*/
.log {
  margin: 0 135px 20px 135px;
  color: white;
  font-family: "Niramit", sans-serif;
  font-size: 45px;
  text-align: center;
}
.sign {
  margin: 0 135px 20px 135px;
  color: white;
  font-family: "Niramit", sans-serif;
  font-size: 45px;
}

/*Start Filter Section */
.Dropdown {
  z-index: 2 !important;
  padding-left: 20%;
  padding-right: 20%;
  margin: 50px auto;
  height: 20px;
}

#card {
  width: 25%;
  height: 65vh;
  margin: 2%;
}

#card-header {
  font-size: 1.5vw;
  line-height: 15px;
}

#card-description {
  font-size: 1vw;
  line-height: 10px;
}

#card-button {
  width: 100%;
}

#cardGroup {
  margin-left: 10%;
}
.maps-container {
  z-index: 1 !important;
}

.map {
  height: 28vh;
  width: 85%;
  border-radius: 24px;
  margin: 10px auto;
}

/*End  Filter Section */
/* Search by Address Section */

#white-box {
  height: 75vh;
  width: 60%;
  background-color: white;
  margin: 0 auto;
}

.map1 {
  height: 60vh;
  width: 95vh;
  z-index: 1;
  margin: 10px auto;
  padding-top: 5%;
}

.map3 {
  height: 60vh;
  width: 95vh;
  margin: 30px auto;
  padding-top: 1.5%;
  z-index: 1;
}
.map2 {
  height: 60vh;
  margin-right: 550px;
  z-index: 10;
}

.burgerMenu {
  padding-left: 1750px;
  padding-left: 1000;
  outline: none;
  border: none;
}

.searchBar {
  text-align: center;
}

.filter {
  margin-left: 640px;
  margin-top: 100px;
  padding: 200px;
}

.search {
  margin-top: 50px;
  text-align: center;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* aoisdjfaoisdjf;oaisjdf*/
/* * {
  margin: 0;
  padding: 0;
}
*/
