* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Start of Homepage */

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > div {
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.pageTop {
  background-image: url("./img/background1.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.title {
  color: white;
  text-decoration: none;
  font-size: 10vw;
  text-align: center;
  margin-top: 22%;
  font-family: "Noto Serif", serif;
  color: white;
}

hr {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border: 0.1vw solid #863a58;
}
.subtitle {
  text-align: center;
  margin-top: 5%;
  color: #863a58;
  font-size: 3.5vw;
}

.column1 {
  margin-left: 15%;
  color: #863a58;
}

.searchImage {
  margin-left: 200%;
}

.searchTitle {
  margin-left: 160%;
  font-size: 2.5vw;
}

.searchParagraph {
  margin-left: 5%;
  font-size: 1.5vw;
  width: 550%;
}

.column2 {
  margin-left: 25%;
  color: #863a58;
}

.markerImage {
  margin-left: 15%;
}

.markerTitle {
  margin-left: -35%;
  font-size: 2.5vw;
}

.markerParagraph {
  margin-left: -200%;
  font-size: 1.5vw;
  width: 550%;
}

.column3 {
  margin-left: 25%;
  color: #863a58;
}

.checkmarkImage {
  margin-left: -190%;
}

.checkmarkTitle {
  margin-left: -400%;
  font-size: 2.5vw;
}

.checkmarkParagraph {
  margin-left: -400%;
  font-size: 1.5vw;
  width: 550%;
}

.subtitle2 {
  padding-top: 5%;
  text-align: center;
  color: #863a58;
  font-size: 3.5vw;
}

.cardImage {
  width: 50%;
  height: 35%;
  margin-left: 26%;
}

h4 {
  font-size: 3vw;
}

h5 {
  font-size: 2.5vw;
}

h6 {
  font-size: 2vw;
}

.subtitle3 {
  padding-top: 5%;
  text-align: center;
  color: #863a58;
  font-size: 3.5vw;
}

.applebtn {
  width: 20%;
  float: right;
  padding-bottom: 20px;
}

.googlebtn {
  width: 20%;
  float: right;
  margin-right: 30%;
  padding-bottom: 20px;
}

.footer {
  margin: 10px;
}

/* end of homepage */

#modalImage {
  margin-top: 5%;
  margin-left: 41%;
  margin-right: 55%;
  width: 20%;
  height: 2%;
}

.modalBlurb {
  text-align: center;
  margin-top: 1%;
  font-size: 1.5vw;
  margin-left: 3%;
}

.modalTitle {
  text-align: center;
  margin-top: 2%;
  font-size: 4vw;
  margin-left: 3%;
  padding-bottom: 2%;
}

.modal {
  max-width: 50%;
  max-height: 60%;
}

#submit {
  margin-left: 23%;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #080e20;
  font-family: "Niramit", sans-serif;
}
/* .subtitle2 .banner {
  text-decoration: none;
  font-size: 18px;
  float: left;
  padding: 10px 35px;
  color: white;
  font-family: "Noto Serif", serif;
} */

.search-sides {
  padding: 0 250px 0 250px;
}

.logoutBtn {
  padding: 20px;
}

.myRecipeBtn {
  margin-right: 10%;
}

.myFavBtn {
  margin-left: 50%;
  margin-right: 10%;
}

.myFormBtn {
  margin-left: 10%;
}

.centerContainer {
  text-align: center;
}

#logInButton {
  padding-left: 4%;
  padding-right: 3%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  position: absolute;
  top: 5%;
  left: 78%;
}

#signUpButton {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  position: absolute;
  top: 5%;
  left: 88%;
}

h3 {
  font-size: 1.3vw;
}

.main-page-search {
  margin-top: 50px;
}

#root
  > div.main-page-search
  > div.ui.horizontally.padded.three.column.grid.Grid1 {
  padding-left: 30px !important;
  padding-top: 20px !important;
}

.detail-image {
  height: 200px;
  width: 250px;
}

#root > main > div > form > button > span.MuiButton-label-152 > a {
  color: white;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.login {
  margin: 75px 420px 0 420px;
  padding: 60px 15px;
  border: solid #152249 2px;
  border-radius: 10px;
  background-color: #1c2c5b;
  font-family: "Niramit", sans-serif;
}

.log {
  margin: 0 135px 20px 135px;
  color: white;
  font-family: "Niramit", sans-serif;
  font-size: 45px;
  text-align: center;
}
.sign {
  margin: 0 135px 20px 135px;
  color: white;
  font-family: "Niramit", sans-serif;
  font-size: 45px;
}
.signup {
  margin: 150px 500px 0 500px;
  padding: 60px 15px;
  border: solid #152249 2px;
  border-radius: 10px;
  background-color: #1c2c5b;
  font-family: "Niramit", sans-serif;
}
.Form {
  color: #080e20;
}
.background {
  background-color: #070d1f;
  height: 50vh;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.subtitle1 {
  text-align: center;
  margin: 100px 0 0 0;
  color: #863a58;
}

.hr {
  margin: 80px 200px 20px 200px;
  border: 1px solid #863a58;
}
.icons {
  margin: 0 70px;
  color: #863a58;
}

h2 {
  margin-left: 90px;
}

.download {
  margin: 100px;
  width: 10px;
}

.navbar {
  height: 100px;
  width: 100%;
  color: #863a58;
}

.map {
  height: 28vh;
  width: 28vh;
  margin-left: 3%;
  margin-top: 10%;
  border-radius: 24px;
  margin-bottom: 20px;
}

.map1 {
  height: 60vh;
  width: 95vh;
  margin-top: 1%;
  margin-bottom: 25%;
  margin-right: 35%;
  margin-left: 4%;
  z-index: -5;
}

.map3 {
  height: 60vh;
  width: 95vh;
  margin-top: 1%;
  margin-bottom: 25%;
  margin-right: 35%;
  margin-left: 4%;
  z-index: -5;
}

/* .map2 {
  height: 60vh;
  margin-right: 550px;
  z-index: 10;
} */

.burgerMenu {
  /* padding-left: 1750px; */
  padding-left: 1000;
  outline: none;
  border: none;
}

.searchBar {
  margin: 0 300px 0 300px;
}

.filter {
  margin-left: 640px;
  margin-top: 100px;
  padding: 200px;
}

.mainbar {
  background-color: #a5456a;
  height: 8vh;
  outline: none;
  border: none;
}

.search {
  margin-top: 50px;
}
.Dropdown {
  z-index: 99 !important;
  padding: 0 200px;
  margin: 80px auto;
}

.maps-container {
  z-index: 99 !important;
}

.box,
.map2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* aoisdjfaoisdjf;oaisjdf*/
* {
  margin: 0;
  padding: 0;
}
/* #sideBar {
  position: fixed;
  width: 1px;
  background: white;
} */

/* #sideBar.active {
  left: 0px;
} */

/* #sideBar ul {
  border: 2px solid #a5456a;
  border-radius: 10px;
} */
/* #sideBar ul li {
  color: black;
  list-style: none;
  padding: 15px 10px;
} */

/* #sideBar .toggle-btn {
  position: absolute;
  left: 50px;
  top: 15px;
} */

#sideBar .toggle-btn span {
  display: block;
  width: 40px;
  height: 5px;
  background: white;
  margin: 8px 0px;
}

#sideBar {
  display: flex;
  flex-wrap: nowrap;
}

#sideBar .toggle-btn {
  width: 100%;
  margin-left: 87%;
  /* margin-left: 79%; */
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  position: absolute;
  padding-bottom: 10px;
  top: 1%;
}
